{
  "CN": "system:node:{{ hostvars[item].ansible_hostname }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "IN",
      "L": "Chennai",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Tamil Nadu"
    }
  ]
}
